{% extends "base.html" %}

{% block tb-right-section %}
<li class="active"><a data-reveal-id="myModal" data-reveal>Upload Document</a></li>
<li class="has-dropdown">
	<a>{{ user.email }}</a>
	<ul class="dropdown">
	  <li><a href="{% url 'logout' %}">Log Out</a><li>
	</ul>
</li>
{% endblock tb-right-section %}

{% block content %}

<div class="reveal-modal-bg" style="display: none"></div>
<div id="myModal" class="reveal-modal small" data-reveal>
	<!-- This from should link to the submission app -->
    <form action="{% url 'list_files' %}" method="post" enctype="multipart/form-data">
    	{% csrf_token %}
	    {{ form.as_p }}
	    <div class="row">
			<div class="large-12 columns">
				<label>Application Form
					<input type="file" name="app_form" />
				</label>
	    	</div>
		</div>
	    <div class="row">
			<div class="large-12 columns">
	    		<label>Application Info
					<input type="file" name="app_info" />
				</label>
	    	</div>
		</div>
	    <div class="row">
			<div class="large-12 columns">
	   			<label>Consent Form
					<input type="file" name="con_form" />
				</label>
	   		</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input type="submit" name="submit" class="small radious button" value="Upload">
			</div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div class="row">
	<div class="large-12 large-centered columns">
	    <table>
	  		<thead>
				<tr>
				  <th width="800">Submmitted Documents</th>
				  <th width="200">Publication Date</th>
				</tr>
			</thead>
			<tbody>
				{% if versions %}
					{% for version in versions %}
						<tr>
							<td>
								<a href="{{ version.application_form.url }}">{{ version.application_form.name }}</a>
							</td>
							<td>
								<a></a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td>No documents</td>
						<td></td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
