{% extends "base.html" %}
{%load static %}

{% block tb-right-section %}
<li class="has-dropdown">
	<a>{{ user.email }}</a>
	<ul class="dropdown">
	  <li><a href="{% url 'logout' %}">Log Out</a><li>
	</ul>
</li>
{% endblock tb-right-section %}
	
{% block content %}
<html>
<body>

<div class="row">
	<div class="large-12 columns">
		<dl class="tabs" data-tab>
		  <dd class="active"><a href="#panel2-1">Application Form</a></dd>
		  <dd><a href="#panel2-2">Application Info</a></dd>
		  <dd><a href="#panel2-3">Consent Form</a></dd>
		</dl>
		<div class="tabs-content">
		  <div class="content active" id="panel2-1">
		    <p><embed src="{{ version.application_form.url }}" height="842" width="595"/></p>
		  </div>
		  <div class="content" id="panel2-2">
		    <p><embed src="{{ version.application_info.url }}" height="842" width="595"/></p>
		  </div>
		  <div class="content" id="panel2-3">
		    <p><embed src="{{ version.consent_form.url }}" height="842" width="595"/></p>
		  </div>
		</div>
	</div>
</div>

</body>
</html>
{% endblock content %}
