{% extends "base.html" %}
{%load static %}

{% block tb-right-section %}
<li class="active"><a data-reveal-id="myModal" data-reveal>Upload Document</a></li>
<li class="has-dropdown">
	<a>{{ user.email }}</a>
	<ul class="dropdown">
	  <li><a href="{% url 'logout' %}">Log Out</a><li>
	</ul>
</li>
{% endblock tb-right-section %}
	
{% block content %}
<html>
<body>

<div class="row">
	<div class="large-12 large-centered columns">
		<p><embed src="" height="842" width="595"/></p>
	</div>
</div>

</body>
</html>
{% endblock content %}
