<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if versions %}
        <ul>
        {% for version in versions %}
            <li><a href="{{ version.application_form.url }}">{{ version.application_form.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list_files' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
           <p><input type="file" name="app_form" /></p>
           <p><input type="file" name="app_info" /></p>
           <p><input type="file" name="con_form" /></p>
           <p><input type="submit" name="submit" value="Upload" /></p>
</form>
    </body>
</html> 