{% extends "base.html" %}

{% block tb-right-section %}
<li><a href="{% url 'create_user' %}">Sign Up</a></li>
{% endblock tb-right-section %}

{% block content %}
<div class="row">
	<div class="large-6 large-centered columns">
		<div class="panel">
			<form id="login-form" action="{% url 'login' %}" method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="large-12 columns">
						<label for="login-email">Email</label>
						<input type="email" id="login-email" name="email">
					</div>
				</div>
				<div class="row">
		       		<div class="large-12 columns">
						<label for="login-password">Password</label>
						<input type="password" id="login-password"name="password">
					</div>
		      	</div>
		      	<div class="row">
		       		<div class="large-12 columns">
						<input type="submit" class="small radious button" value="Log In">
					</div>
		      	</div>
		    </form>
		</div>
	</div>
</div>
{% endblock content %}