{% extends "base.html" %}

{% block tb-right-section %}
<li><a href="{% url 'logout' %}">Log Out</a><li>
	{% endblock tb-right-section %}

	{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h4>Welcome, {{ user.email }}.</h4>
	</div>
</div>

<hr/>

<div class="row">
		<div class="large-12 columns">
		<a href="?" class="small radious button">Upload Document</a>
	</div>
	</div>
<div class="row">
	<div class="large-12 large-centered columns">
	    <table>
	  		<thead>
				<tr>
				  <th width="400">Submmitted Documents</th>
				  <th width="200">Date</th>
				  <th width="200">Status</th>
				  <th width="200">Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				</tr>
				<tr>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				</tr>
				<tr>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}