{% extends "base.html" %}

<!-- <<<<<<< HEAD
<html>
    <h1>Fully Authenticated user</h1>
    <br/><br/><br/><br/>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>

    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents ->
    {% if versions %}
        <ul>
        {% for version in versions %}
            <li><a href="{{ version.application_form.url }}">{{ version.application_form.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

    <form action="{% url 'list_files' user.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Upload">
    </form>
    </body>
</html> 
======= -->

{% block tb-right-section %}
<li><a href="{% url 'logout' %}">Log Out</a><li>
	{% endblock tb-right-section %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<h4>Welcome, {{ user.email }}.</h4>
	</div>
</div>

<hr/>

<div class="reveal-modal-bg" style="display: none"></div>
<div id="myModal" class="reveal-modal small" data-reveal>
	<!-- This from should link to the submission app -->
	<form action="{% url 'list_files' user.id %}" method="POST">
        {% csrf_token %}
		<div class="row">
			<div class="large-12 columns">
				<!-- If anyone knows how to style the "choose file" button, go for it. -->
				<input type="file" accept=".pdf">
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<input type="submit" class="small radious button" value="Upload">
			</div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div class="row">
		<div class="large-12 columns">
            <form action="{% url 'list_files' user.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Upload Files" class="small radious button" data-reveal-id="myModal" data-reveal>
             </form>
		</div>
</div>

<div class="row">
	<div class="large-12 large-centered columns">
	    <table>
	  		<thead>
				<tr>
				  <th width="400">Submmitted Documents</th>
				  <th width="200">Date</th>
				  <th width="200">Status</th>
				  <th width="200">Date</th>
				</tr>
			</thead>
			<tbody>
                {% for version in versions %}
				<tr>
				  <td><a href="#">Applicant Form</a></td>
				  <td>{{ version.pub_date }}</td>
				  <td>{{ version.status }}</td>
				  <td>{{ version.application_form.url }}</td>
				</tr>
				<tr>
				  <td><a href="#" >Document 2</a></td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				</tr>
				<tr>
				  <td><a href="#" >Document 3</a></td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				  <td>Content Goes Here</td>
				</tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
